.container{
   width:90%;
   margin:0 auto;
}
.footer{
   background-color: #000;
   padding: 3rem 0;
}
h3{
   text-transform: capitalize;
   color: #fff;
}
p{
   text-transform: capitalize;
   color: #fff;
}

.footer__items{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}


button{
   width: 12rem;
   height: 4rem;
   display: block;
   font-size: 1.5rem;
   border: 1px solid #fff;
   color: #fff;
   background-color: #000;
   text-transform: capitalize;
}